.App {
  color: white;
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.al
{
  display: flex;
  justify-content: center;
}
.back
{
  background-image: url("https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-attachment: fixed;
}